body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f22222, #ffffff, #9cda22);
  /* New gradient colors */
  animation: gradientAnimation 1ms ease infinite alternate;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center align the buttons */
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.9s ease;
}

.button:hover {
  background-color: transparent; /* Remove background color on hover */
  background-image: linear-gradient(45deg, #ff8a00, #da1b60); /* Add gradient effect on hover */
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, #f22222, #ffffff, #9cda22);
  }
  50% {
    background: linear-gradient(to right, #f42424, #f8f7f9, #b0f030);
  }
  100% {
    background: linear-gradient(to right, #f22222, #ffffff, #9cda22);
  }
}
